{% extends 'partials/base.html' %}

{% load humanize %}

{% load static %}

{% block content %}

<div class="gray py-3">
    <div class="container">
        <div class="row">
            <div class="colxl-12 col-lg-12 col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop.html">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="middle">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="sec_title position-relative text-center">
                    <h3 class="ft-bold pt-3">Cart</h3>
                </div>
            </div>
        </div>

        <form action="{% url 'store:create_order' %}" method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="col-lg-9">
                <h4 class="fw-bold p-3">Cart items</h4>
                <div style="overflow-y: scroll; max-height: 650px; overflow-x: hidden" class="p-3">
                    {% for item in items %}
                        <div class="shadow rounded mb-3 item_div_{{item.id}}">
                            <div class="row d-flex align-items-center p-3">
                                <div class="col-lg-4 d-flex gap-3">
                                    <img src="{{ item.product.image.url }}" alt="" style="width: 100px; height: 100px; object-fit: cover" />
                                    <div class="p-2">
                                        <h5>{{ item.product.name }}</h5>
                                        <p class="mb-0 mt-0">Price: ${{ item.product.price|intcomma }}</p>
                                        <p class="mb-0 mt-0">Vendor: {{ item.product.vendor.profile.full_name }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <h4 class="fs-3">${{ item.price|intcomma }}</h4>
                                </div>
                                <div class="col-lg-2 d-flex">
                                    <button type="button" class="btn bg-primary text-white btn-sm update_cart_quantity" data-update_type="decrease" data-item_id="{{item.id}}" data-product_id="{{item.product.id}}">-</button>
                                    <input type="text" class="form-control form-sm item-quantity-{{item.id}}" value="{{ item.quantity }}" name="" id="" />
                                    <button type="button" class="btn bg-primary text-white btn-sm update_cart_quantity" data-update_type="increase" data-item_id="{{item.id}}" data-product_id="{{item.product.id}}">+</button>
                                </div>
                                <div class="col-lg-2">
                                    <h4 class="fs-3 mb-0"><span class="item_sub_total_{{item.id}}">${{ item.sub_total|intcomma }}</span></h4>
                                </div>
                                <div class="col-lg-2">
                                    <button class="btn bg-danger text-white btn-sm rounded delete_cart_item" data-item_id="{{ item.id }}"  data-product_id="{{ item.product.id }}"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="p-3">
                    <h4 class="fw-bold mb-3">Shipping Detail</h4>

                    <div class="row">
                        {% if addresses.exists %}
                            {% for address in addresses %}
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                <div class="card-wrap border rounded mb-4">
                                    <div class="card-wrap-body px-3 py-3">
                                        <p class="mb-0"><span class="fw-bold">Full Name: </span>{{ address.full_name }}</p>
                                        <p class="mb-0"><span class="fw-bold">Email: </span>{{ address.email }}</p>
                                        <p class="mb-0"><span class="fw-bold">Mobile: </span>{{ address.mobile }}</p>
                                        <p class="mb-0"><span class="fw-bold">Address: </span>{{ address.address_line1 }}</p>
                                        <p class="mb-0"><span class="fw-bold">City: </span>{{ address.city }}</p>
                                        <p class="mb-0"><span class="fw-bold">State: </span>{{ address.state }}</p>
                                        <p class="mb-0"><span class="fw-bold">Country: </span>{{ address.country }}</p>
                                        <div class="mt-3">
                                            <input id="address{{ address.id }}" class="radio-custom" name="address" value="{{ address.id }}" type="radio" />
                                            <label for="address{{ address.id }}" class="radio-custom-label">Select Address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% if not user.is_authenticated %}
                                <div class="col-12">
                                    <div class="px-3 py-3 text-muted">
                                        Please <a href="{% url 'userauths:login' %}?next={% url 'store:cart' %}">log in</a> to add and select a shipping address.
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-12">
                                    <div class="px-3 py-3 text-muted">
                                        You have no saved addresses. 
                                        <a href="{% url 'customer:address_create' %}?next={% url 'store:cart' %}">Add a new address</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if addresses.exists %}
                            <div class="px-3 py-3 text-muted">
                                Wanna add a new address?
                                <a href="{% url 'customer:address_create' %}?next={% url 'store:cart' %}">Add a new address</a>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <h4 class="fw-bold">Order Summary</h4>
                <div class="shadow rounded p-3 mt-5">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Sub-total</p>
                            <p class="fs-6">${{cart_sub_total|intcomma}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Shipping</p>
                            <p class="fs-6">${{cart_shipping}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="fw-semibold fs-6">Tax</p>
                            <p class="fs-6">${{cart_tax}}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <p class="fw-bold text-dark fs-5">Total</p>
                            <p class="fw-bold text-dark fs-5">$<span class="cart-sub_total">{{cart_sub_total|intcomma}}</span></p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center w-100 mt-3">
                    <button type="submit" class="btn bg-primary rounded text-white w-100">Proceed To Checkout <i class="fas fa-arrow-right ms-1"></i></button>
                </div>
            </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
